@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
    background: #24252a;
    height: 80px;
    width: 100%;
}

nav ul {
    float: left;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    background: #FFD700;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    margin-top: 26px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav .dropdown {
    float: left;
    overflow: hidden;
}

nav .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    padding: 7px;
    margin-top: 12px;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 6px;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border: solid white;
    margin-left: 7px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.search {
    margin-top: 3px;
    width: 30%;
    display: inline;
}

nav .logo {
    width: 15%;
    height: 92%;
    margin-left: 15%;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: none;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.navigation .logIn-SignUp {
    float: right;
    margin-top: 17px;
    margin-right: 8%;
    font-size: 18px;
}

.logIn-SignUp a:hover {
    color: yellow;
}

body {
    background-color: sandybrown;
}

.migrant {
    width: 100%;
    height: 100%;
}

.migrant .migimg {
    margin-top: 2px;
    height: 100%;
    width: 100%;
}

.migrant .explorer {
    position: absolute;
    /* Position the background text */
    bottom: 15%;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.7);
    /* Black background with 0.5 opacity */
    color: white;
    /* Grey text */
    width: 80%;
    /* Full width */
    z-index: 1;
}

.slideanim {
    visibility: hidden;
    visibility: visible\9;
    /*For old IE browsers IE6-8 */
}

.slideanim .slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    margin-top: 1%;
}

.rcontent {
    margin-left: 18%;
    margin-top: 10%;
}

.lcontent {
    margin-left: 10%;
    margin-top: 10%;
}

h1 {
    font-size: 38;
    margin-top: 10%;
    Margin-left: 3%;
}

h2 {
    font-size: 32;
    padding: 6%;
}

h3 {
    font-size: 26;
}

h5 {
    margin-top: 2%;
}

.limages {
    /* float: left; */
    width: 85%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.rimages {
    /* float: right; */
    width: 85%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.overflowtext {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.vl {
    border-left: 3px solid lightgray;
    height: 95%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 18%;
    top: 0;
}

.accordcontainer {
    max-width: 800px;
    padding: 50px 0;
    margin: 0 auto;
}

.accordion_trigger {
    display: block;
    padding: 13px 25px;
    background: #044b6b;
    border-bottom: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: block;
    position: relative;
}

.accordion_trigger:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.accordion_container {
    transition: all 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
    margin-bottom: 1px;
    border: 3px solid #044b6b;
    background: #fff;
}

.accordion_container p {
    margin: 20px;
}

.ac_hide {
    opacity: 0;
    position: absolute;
}

.ac_hide:checked+.accordion_container {
    height: 150px;
}

.contactUs {
    display: block;
    height: 45%;
    background-color: #152844;
    color: white;
    padding: 4%;
}

.workercontainer {
    display: block;
    width: 100%;
    background-color: sandybrown;
}


/*yaha se*/

.workercontainer .cardsparts {
    width: 50%;
    margin-left: 29%;
    display: inline-block;
    background-color: red;
}

.workercontainer .job_card {
    /*white box*/
    padding: 10px;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    position: relative;
    float: left;
    width: 50%;
    height: 30%;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}

.workercontainer .job_card .job_desc {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
}

.workercontainer .job_card .job_desc .job_type {
    width: 27%;
    font-weight: bold;
    height: 100%;
    display: flex;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 1.5%;
    flex-wrap: wrap;
    background-color: red;
}

.workercontainer .job_card .job_desc .job_type .job_left {
    width: 30%;
    display: inline-block;
    background-color: blue;
}

.workercontainer .job_card .job_desc .job_type .job_left img {
    display: block;
    width: 100%;
    height: 100%;
}

.workercontainer .job_card .job_desc .job_type .job_right {
    display: inline-block;
    width: 67%;
    text-align: center;
}

.workercontainer .job_card .job_desc .job_type .job_right .job {
    display: block;
    height: 48%;
    font-size: 12;
    background-color: gray;
}

.workercontainer .job_card .job_desc .job_type .job_right .time {
    display: block;
    font-size: 12;
    height: 48%;
    background-color: yellow;
}

.workercontainer .details {
    width: 60%;
    height: 50%;
    margin-left: 4%;
    margin-top: 2%;
    display: inline-block;
    background-color: yellow;
}


/* // $Store = mysqli_query($conn, $Regis);
                    // $worker_table ="INSERT INTO $Name (`id`, `customer_name`, `customer_number`, `customer_address`,`Booking_Date`)
                    // VALUES(NULL,`$CName`, `$CPhone`, `$CAddress`, `$BDate`)";
                    // $Book = mysqli_query($conn, $worker_table); */

.workercontainer .job_card .BookButton {
    width: 20%;
    height: 15%;
    position: absolute;
    margin-top: 10%;
    margin-left: 11%;
    background-color: #008bcf;
    color: white;
    text-align: center;
    float: left;
}

.workercontainer .job_card .BookButton:hover {
    cursor: pointer;
    opacity: 80%;
}

.Wform {
    display: inline-block;
    width: 35%;
    background-color: white;
    margin-left: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid black;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 26px;
}

.Wform input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: #24252a;
}

.Wform hr {
    border: 1px solid gray;
    margin-bottom: 25px;
}

.Wform .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 6px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.Wform .registerbtn:hover {
    opacity: 1;
}

.Wform .signin {
    background-color: #f1f1f1;
    text-align: center;
    height: 50px;
    padding: 5px;
}

.signin a {
    color: blue;
}

.Wform * {
    box-sizing: border-box;
    width: 100%;
}

.workercontainer .notify_card {
    /*white box*/
    padding: 20px;
    background: rgb(163, 29, 29);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    position: relative;
    width: 50%;
    height: 55%;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 8%;
    display: block;
}

@media screen and (max-width: 480px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: auto;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
    nav .logo {
        width: 40%;
        height: 75%;
        margin-left: 3%;
        margin-top: 2%;
    }
    .migrant {
        width: 100%;
        height: 100%;
    }
    .section {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .col-md-12 {
        margin-top: 0;
        display: flex;
        height: 22%;
        padding: 0;
    }
    .col-md-12 .col-md-6 {
        width: 49%;
        display: inline-block;
        height: 100%;
        margin-top: 0;
        padding: 0;
    }
    .col-md-6 .limages {
        height: 100%;
        width: 95%;
    }
    .col-md-6 .rimages {
        height: 100%;
        width: 95%;
        float: right;
    }
    .col-md-6 h1 {
        font-size: 18;
        margin-top: 25%;
    }
    .col-md-6 h5 {
        font-size: 11;
        width: 80%;
    }
    .col-md-6 .rcontent {
        height: 100%;
        width: 95%;
        margin-bottom: 20%;
    }
    .migrant .explorer {
        height: 15%;
    }
    .migrant .explorer h3 {
        margin-top: 10px;
        font-size: 11;
    }
}